<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link type="text/css" rel="stylesheet" href="../static/css/style.css" />

    <link rel="icon" href="../static/img/shoe.ico" />

    <title>CalzamundoShoes</title>
  </head>
  <body>
    <main class="flex-shrink-0">
      <!-- Navigation-->
      <nav class="navbar" style="background-color: #f11167">
        <div class="container-fluid">
          <a class="navbar-brand nombre"> Calzamundo<strong>Shoes</strong> </a>
          <form class="d-flex" role="search">
            <a class="btn btn-success" type="submit" href="/login">
              <img src="" alt="" />
              Iniciar Sesión
            </a>
          </form>
        </div>
      </nav>
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="../static/img/banner3.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="../static/img/banner1.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="../static/img/banner4.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- Features section-->
      <section class="py-5" id="features">
        <div class="container px-5 my-5">
          <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
              <h2 class="fw-bolder mb-0">Quienes Somos</h2>
              <br />
              <img src="../static/img/imgCalzado.JPG" alt="" />
            </div>
            <div class="col-lg-5">
              <div class="row gx-25 row-cols-1">
                <div class="col mb-5 h-200">
                  <p>
                    Somos una empresa de Calzado a nivel Bogotá contamos con
                    tiendas fisicas en más de 3 puntos en diferentes
                    localidades, con nuestra tienda buscamos ofrecerle el mejor
                    calzado a nuestros clientes, de buena calidad y a excelentes
                    precios.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Testimonial section-->
      <div class="py-5 bg-light">
        <div class="container px-5 my-5">
          <div class="row gx-5 justify-content-center">
            <div class="col-lg-10 col-xl-7">
              <div class="text-center">
                <div class="fs-4 mb-4 fst-italic">
                  "CalzamundoShoes la magia al caminar"
                </div>
                <div class="d-flex align-items-center justify-content-center">
                  <div class="fw-bold">
                    Dario Carrillo, Diana Niño
                    <span class="fw-bold text-primary mx-1">/</span>
                    CEO, Bogotá, Colombia
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Blog preview section-->
    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
      <div class="container px-5">
        <div
          class="row align-items-center justify-content-between flex-column flex-sm-row"
        >
          <div class="col-auto">
            <div class="small m-0 text-white">
              Copyright &copy; 2022 Dario Carrillo-Diana Niño
              <br />
              <img
                src="../static/img/logoCalzamundo.png"
                alt=""
                style="height: 120px; weigth: 80px"
              />
            </div>
          </div>
          <div class="col-auto">
            <a class="link-light small" href="#!">Privacidad</a>
            <span class="text-white mx-1">&middot;</span>
            <a class="link-light small" href="#!">Terminos y condiciones</a>
            <span class="text-white mx-1">&middot;</span>
            <a class="link-light small" href="#!">Contactenos</a>
          </div>
        </div>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="../static/js/scripts.js"></script>
  </body>
</html>
